<div class="pf-profile-private">
  <div class="icon">
    <i class="fa-solid fa-lock"></i>
  </div>
  <h3>This Account is Private</h3>
  <p>Follow this account to see their photos and videos.</p>
</div>
